.playerHolder{
    display: flex;
    /* border-style: solid; */
    background-color: gainsboro;
    text-align: left;
    /* margin-left: 10px; */
    margin-top: 2px;
    /* width: 500px; */
    /* background-color: blue; */
}


.btn-1{
    /* height: 20px; */
    order: 2;
    width: 20%;
    margin-left: auto;
    background-color:#1F8A69;
    color: white;
    border: none;
    transition-duration: 0.4s;
    /* position: relative; */
    /* top: 118px; */
}

.btn-1:hover{
    background-color: #0289FF;
    cursor: pointer;
}

.btn-2{
    background-color:#465853;
    color: white;
    border: none;
    font-family:serif;
    font-size: 20px;
    font-style: italic;
    width: 20px;
}

.btn-2:hover{
    background-color: #0289FF;
    cursor: pointer;
}

p{
    order: 2;
    width: 45%;
    margin-left: 20px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    /* background-color: red; */
}

.a{
    width: fit-content;
    /* background-color: blanchedalmond; */
}