.navbar{

    background-color: red;
    /* width: max-content; */
    width: 100%;

}

.parent {
    display: flex;
    /* height: 300px; */
}
  
.child {
    /* width: 150px;
    height: 100px; */
    /* height:100%; */
    /* width: 800px; */
    margin: auto;
    text-align: center;
    background-color: red;
}

.child2{
    width: 500px;
    margin: auto;
    text-align: center;
}